@model ProjectManagment.Models.Requirement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Requirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reqId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reqId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
